.procedure
    width: 100%
    max-width: 700px
    margin: 0 auto

    h3
        font-size: 1.1rem
        text-align: center

    ol
        margin-top: 25px
        text-align: justify
        font-size: 1rem
        li
            margin-top: 10px

    p
        font-size: 1rem
        text-align: justify
        margin-top: 25px
