.s-zero
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-items: center
    gap: 25px

    .frame
        width: 500px
        height: 300px
        border-radius: 1rem

        background-color: var(--color-5)
        opacity: 0.8
        background: radial-gradient(circle, transparent 20%, var(--color-5) 20%, var(--color-5) 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, var(--color-5) 20%, var(--color-5) 80%, transparent 80%, transparent) 25px 25px, linear-gradient(var(--color-3) 2px, transparent 2px) 0 -1px, linear-gradient(90deg, var(--color-3) 2px, var(--color-5) 2px) -1px 0
        background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px

    .text
        width: 100%
        max-width: 400px

        h1
            font-size: 1.5rem
        
        p
            font-size: 1.1rem
            text-align: justify
            margin-top: 10px