#sparks
    width: 100%
    flex: 1
    display: flex
    flex-direction: column
    gap: 50px
    box-sizing: border-box
    padding: 50px 10px

    @import './_zero'
    @import './_tabs'
    @import './overview/main'
    @import './virtual-entreprises/main'
    @import './contributions/main'