.features
    width: 100%
    max-width: 1000px
    margin: 0 auto
    display: flex
    align-items: center
    gap: 25px

    .block-left
        width: 400px
        flex-shrink: 0

        .text
            width: 100%

            h2
                margin-bottom: 50px

            h3
                margin: 25px 0


    .block-right
        width: 500px
        
        .row
            display: flex
            gap: 10px
            position: relative
            &:nth-child(2)
                left: 95px
                top: -40px
            &:nth-child(3)
                top: -80px

        .col
            width: 180px
            height: 200px
            display: flex
            align-items: center
            justify-content: center

            .rect
                width: 100%
                height: 100%
                display: flex
                justify-content: center
                align-items: center
                background: var(--color-3)
                box-shadow: 0 0 10px var(--color-3)
                color: var(--color-4)
                cursor: pointer
                transform: skewX(-10deg)
                transition: 0.2s ease

                &:hover
                    background-color: var(--color-6)
                    transform: skewX(-10deg) scale(1.05)

                svg
                    width: 80px
                    transform: skewX(10deg)


    @media screen and ( max-width: 800px )
        flex-direction: column-reverse
        


            


                

