#page-end
    width: 100%
    box-sizing: border-box
    // background-color: var(--color-1)
    // border-top: 1px solid var(--color-19)
    position: relative
    display: flex
    justify-content: flex-end

    &.animation
        display: none

    & > .wrapper
        width: 90%
        background-color: var(--color-5)
        border-top-left-radius: 100px
        max-width: 1000px
        box-sizing: border-box
        padding: 100px 25px
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: flex-end
        gap: 10px
        font-size: 0.8rem

        .app-name
            text-align: right
            color: var(--color-15)
            text-transform: uppercase
        .theme
            text-align: right
            font-style: oblique
            .name
                color: var(--color-15)
            .version
                color: var(--color-19)
